<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Common Layout</h1>
  <p>Customize this layout if needed.</p>
</body>

</html>